In [3]:
import pandas as pd
df = pd.read_csv("loandata sql.csv")
df.head()

,Term,LoanStatus,StatedMonthlyIncome,BorrowerAPR,BorrowerRate,BorrowerState,ListingCategory (numeric),EmploymentStatus,IsBorrowerHomeowner,IncomeRange,...,PublicRecordsLast10Years,RevolvingCreditBalance,BankcardUtilization,LoanMonthsSinceOrigination,FirstRecordedCreditLine,TotalCreditLinespast7years,OpenRevolvingAccounts,OpenRevolvingMonthlyPayment,PublicRecordsLast12Months,Recommendations
0,36,Completed,3083.333333,0.16516,0.1580,CO,0,Self-employed,True,"$25,000-49,999",...,0.0,0.0,0.00,78,2001-10-11 00:00:00,12.0,1,24,0.0,0
1,36,Current,6125.000000,0.12016,0.0920,CO,2,Employed,False,"$50,000-74,999",...,1.0,3989.0,0.21,0,1996-03-18 00:00:00,29.0,13,389,0.0,0
2,36,Completed,2083.333333,0.28269,0.2750,GA,0,Not available,False,Not displayed,...,0.0,NaN,NaN,86,2002-07-27 00:00:00,3.0,0,0,NaN,0
3,36,Current,2875.000000,0.12528,0.0974,GA,16,Employed,True,"$25,000-49,999",...,0.0,1444.0,0.04,16,1983-02-28 00:00:00,29.0,7,115,0.0,0
4,36,Current,9583.333333,0.24614,0.2085,MN,2,Employed,True,"$100,000+",...,0.0,6193.0,0.81,6,2004-02-20 00:00:00,49.0,6,220,0.0,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113937 entries, 0 to 113936
Data columns (total 32 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Term                         113937 non-null  int64
 1   LoanStatus                   113937 non-null  object
 2   StatedMonthlyIncome          113937 non-null  float64
 3   BorrowerAPR                  113912 non-null  float64
 4   BorrowerRate                 113937 non-null  float64
 5   BorrowerState                108422 non-null  object
 6   ListingCategory (numeric)    113937 non-null  int64
 7   EmploymentStatus             111682 non-null  object
 8   IsBorrowerHomeowner          113937 non-null  bool
 9   IncomeRange                  113937 non-null  object
 10  Occupation                   110349 non-null  object
 11  DebtToIncomeRatio            105383 non-null  float64
 12  TotalProsperLoans            22085 non-null   float64
 13  LoanOriginalAmount           113937 non-null  int64
 14  Investors                    113937 non-null  int64
 15  LoanOriginationDate          113937 non-null  object
 16  loan year                    113937 non-null  int64
 17  loan month                   113937 non-null  object
 18  loan day                     113937 non-null  object
 19  CreditGrade                  28953 non-null   object
 20  TotalInquiries               112778 non-null  float64
 21  CurrentDelinquencies         113240 non-null  float64
 22  PublicRecordsLast10Years     113240 non-null  float64
 23  RevolvingCreditBalance       106333 non-null  float64
 24  BankcardUtilization          106333 non-null  float64
 25  LoanMonthsSinceOrigination   113937 non-null  int64
 26  FirstRecordedCreditLine      113240 non-null  object
 27  TotalCreditLinespast7years   113240 non-null  float64
 28  OpenRevolvingAccounts        113937 non-null  int64
 29  OpenRevolvingMonthlyPayment  113937 non-null  int64
 30  PublicRecordsLast12Months    106333 non-null  float64
 31  Recommendations              113937 non-null  int64
dtypes: bool(1), float64(12), int64(9), object(10)
memory usage: 27.1+ MB

In [5]:
df.describe()

,Term,StatedMonthlyIncome,BorrowerAPR,BorrowerRate,ListingCategory (numeric),DebtToIncomeRatio,TotalProsperLoans,LoanOriginalAmount,Investors,loan year,...,CurrentDelinquencies,PublicRecordsLast10Years,RevolvingCreditBalance,BankcardUtilization,LoanMonthsSinceOrigination,TotalCreditLinespast7years,OpenRevolvingAccounts,OpenRevolvingMonthlyPayment,PublicRecordsLast12Months,Recommendations
count,113937.000000,1.139370e+05,113912.000000,113937.000000,113937.000000,105383.000000,22085.000000,113937.00000,113937.000000,113937.000000,...,113240.000000,113240.000000,1.063330e+05,106333.000000,113937.000000,113240.000000,113937.00000,113937.000000,106333.000000,113937.000000
mean,40.830248,5.608026e+03,0.218828,0.192764,2.774209,0.275947,1.421100,8337.01385,80.475228,2011.042611,...,0.592052,0.312646,1.759871e+04,0.561309,31.896882,26.754539,6.96979,398.292161,0.015094,0.048027
std,10.436212,7.478497e+03,0.080364,0.074818,3.996797,0.551759,0.764042,6245.80058,103.239020,2.506634,...,1.978707,0.727868,3.293640e+04,0.317918,29.974184,13.637871,4.63097,447.159711,0.154092,0.332353
min,12.000000,0.000000e+00,0.006530,0.000000,0.000000,0.000000,0.000000,1000.00000,1.000000,2005.000000,...,0.000000,0.000000,0.000000e+00,0.000000,0.000000,2.000000,0.00000,0.000000,0.000000,0.000000
25%,36.000000,3.200333e+03,0.156290,0.134000,1.000000,0.140000,1.000000,4000.00000,2.000000,2008.000000,...,0.000000,0.000000,3.121000e+03,0.310000,6.000000,17.000000,4.00000,114.000000,0.000000,0.000000
50%,36.000000,4.666667e+03,0.209760,0.184000,1.000000,0.220000,1.000000,6500.00000,44.000000,2012.000000,...,0.000000,0.000000,8.549000e+03,0.600000,21.000000,25.000000,6.00000,271.000000,0.000000,0.000000
75%,36.000000,6.825000e+03,0.283810,0.250000,3.000000,0.320000,2.000000,12000.00000,115.000000,2013.000000,...,0.000000,0.000000,1.952100e+04,0.840000,65.000000,35.000000,9.00000,525.000000,0.000000,0.000000
max,60.000000,1.750003e+06,0.512290,0.497500,20.000000,10.010000,8.000000,35000.00000,1189.000000,2014.000000,...,83.000000,38.000000,1.435667e+06,5.950000,100.000000,136.000000,51.00000,14985.000000,20.000000,39.000000